{% assign events = site.pages | where: "layout", "event" | where: "frontpage", "true" | where: "upcoming", "false" | sort: "path" | reverse | slice: 0, 3 %}
{% if events %}
<h2>Recent activities</h2>

<article>
    {% for event in events %}
    <hgroup>
        {% if event.no_page %}
            <h3>{{ event.title }}</h3>
        {% else %}
            <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
        {% endif %}
        <address>
            {% if event.subtitle %}<div>{{ event.subtitle }}</div>{% endif %}
            <div class="comma-separated">
                {% if event.location %}<span>{{ event.location }}</span>{% endif %}
                {% if event.date %}<span>{{ event.date }}</span>{% endif %}
            </div>
        </address>
    </hgroup>
    {% endfor %}
    <a href="/events/#recent-activities">All recent activities</a>
</article>
{% endif %}
