{% assign events = site.pages | where: "layout", "event" | where: "frontpage", "true" | where: "upcoming", "true" %}
{% if events %}
## Upcoming activities

{% for event in events %}
<article>
    <hgroup>
        <h4>{{ event.title }}</h4>
        <address>
            <div>{{ event.subtitle }}</div>
            <div>{{ event.location }}</div>
            <div>{{ event.datetime }}</div>
        </address>
    </hgroup>
    <p>{{ event.description }}</p>
    <a href="{{ event.url }}" role="button">More information</a>
</article>
{% endfor %}
{% endif %}
