{% assign events = site.pages | where: "layout", "event" | where: "upcoming", "true" | sort: "path" %}
{% if events %}
<h2 id="upcoming-activities">Upcoming activities</h2>

{% for event in events %}
<article>
    <hgroup>
        {% if event.no_page %}
            <h3>{{ event.title }}</h3>
        {% else %}
            <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
        {% endif %}
        <address>
            {% if event.subtitle %}<div>{{ event.subtitle }}</div>{% endif %}
            <div class="comma-separated">
                {% if event.location %}<span>{{ event.location }}</span>{% endif %}
                {% if event.date %}<span>{{ event.date }}</span>{% endif %}
                {% if event.time %}<span>{{ event.time }}</span>{% endif %}
            </div>
        </address>
    </hgroup>
    {% if event.description %}<p>{{ event.description }}</p>{% endif %}
    {% unless event.no_page %}
        <a href="{{ event.url }}" role="button">More information</a>
    {% endunless %}
</article>
{% endfor %}
{% endif %}
